<section class="job">
	<header>
		<h3 class="jobTitle">{{title}}</h3>
		<h4 class="company">{{company}}</h4>
		<div class="dates">{{startDateLabel}} - {{endDateLabel}}</div>
	</header>
	<p><span class="inlineLabel">Technologies:</span> {{technologies}}</p>
</section>