<section class="area experience">
	<h2 class="title hideFromView">Experience</h2>
	<nav class="content">
		<ul>
		{{#each jobList}}
			<li>{{#link-to 'jobs.job' this.id}}{{this.company}}{{/link-to}}</li>
		{{/each}}
		</ul>
	</nav>
</section>

<section class="job detail">
	<header>
		<h3 class="jobTitle">{{title}}</h3>
		<h4 class="company">{{company}}</h4>
		<div class="location">{{location}}</div>
		<div class="dates">{{startDateLabel}} - {{endDateLabel}}</div>

	</header>

	{{#each accomplishments }}
	<p class="accomplishment">{{this.description}}</p>
	{{/each}}

	<p><span class="inlineLabel">Technologies:</span> {{technologies}}</p>
</section>