<section class="outline">
	<section class="item summary" {{action 'showSummarySection'}}>
		<h2 class="title">Summary</h2>
		<div {{bind-attr class=":content showSummary:show:hide"}}>
			<p>I am a designer, developer, mentor and team lead with a passion for creating software to help people in the real world. With over 18 years of experience focused on web user interfaces, I'm versed in all aspects of software development from visual design and usability to architecture and implementation. I am looking for a role that blends good design, quality development and passionate team members with creative and innovative deliverables.</p>
		</div>
	</section>
	<section class="item experience" {{action 'showExperienceSection'}}>
		<h2 class="title">Experience</h2>
		<nav {{bind-attr class=":content showExperience:show:hide"}}>
			<ul>
			{{#each arrangedContent}}
				<li>{{#link-to 'jobs.job' id}}{{company}}{{/link-to}}</li>
			{{/each}}
			</ul>
		</nav>
	</section>

	<section class="item skills" {{action 'showSkillsSection'}}>
		<h2 class="title">Skills</h2>
		<nav {{bind-attr class=":content showSkills:show:hide"}}>
			SKILLS
		</nav>
	</section>

	<section class="item education" {{action 'showEducationSection'}}>
		<h2 class="title">Education</h2>
		<nav {{bind-attr class=":content showEducation:show:hide"}}>
			EDUCATION
		</nav>
	</section>
</section>

{{outlet}}

<footer class="pagefoot">
	<hr>
	<nav>Go to {{#link-to 'index'}}Home{{/link-to}}</nav>
</footer>