<section class="resume">
	<nav class="areaNav">
		<span {{bind-attr class=":navItem showSummary:selected"}}class="section" {{action 'showSection' 'summary'}}>Summary</span>
		<span {{bind-attr class=":navItem showEducation:selected"}} {{action 'showSection' 'job'}}>Experience</span>
		<span {{bind-attr class=":navItem showsSkills:selected"}} {{action 'showSection' 'skills'}}>Skills</span>
		<span {{bind-attr class=":navItem showEducation:selected"}} {{action 'showSection' 'education'}}>Education</span>
	</nav>

	{{outlet}}
</section>

<footer class="pagefoot">
	<hr>
	<nav>Go to {{#link-to 'index'}}Home{{/link-to}}</nav>
</footer>